{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li class="nav-item active"><a href="{% url 'accounts:detail' user_obj.pk %}" class="nav-link">View</a></li>
        <li class="nav-item active"><a href="{% url 'accounts:user_update' user_obj.pk %}" class="nav-link">Edit Profile</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container card-1 mt-2">
        <h1>Change Password: {{ user_obj.username }}</h1>
        <form action="{% url 'accounts:user_change_password' user_obj.pk %}" method="post">
            {% include 'partial/form.html' with button_text="Save" %}
        </form>
    </div>
{% endblock %}