{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li class="nav-item active"><a href="{% url 'accounts:detail' user_obj.pk %}" class="nav-link">View</a></li>
        <li class="nav-item active"><a href="{% url 'accounts:user_change_password' user_obj.pk %}" class="nav-link">Change Password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container card-1 mt-2">
    <h1>Edit Profile: {{ user_obj.username }}</h1>
    <form action="{% url 'accounts:user_update' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% include 'partial/form.html' with button_text="Update" %}
    </form>
    </div>
{% endblock %}