{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block menu %}
    <li class="nav-item active">
                    <a class="nav-link font-italic" href="{% url 'webapp:product_edit_url' product.pk %}">Изменить</a>
                </li>
    <li class="nav-item active">
                    <a class="nav-link font-italic text-danger" href="{% url 'webapp:product_delete_url' product.pk %}">Удалить</a>
                </li>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'blank.png' %}{% endif %}" class="img-fluid" alt="{{ product.name }}">
            </div>
        </div>
        <p><b>Категория:</b> {{ product.get_category_display }}</p>
        <P><b>Описание:</b>{{ product.description }}</P>

    </div>
{% endblock %}